@import '_variables.scss';

@font-face {
  font-family: Inter-Regular;
  font-style: normal;
  src: url('/fonts/Inter-Regular.otf');
}
@font-face {
  font-family: Inter-Bold;
  font-style: normal;
  src: url('/fonts/Inter-SemiBold.otf');
}
@font-face {
  font-family: Inter-Italic;
  font-style: normal;
  src: url('/static/fonts/Inter-Italic.otf');
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
